<br>
<br>
<aside class="menu container" style="position: fixed;width:10%;top: 20% ;left: 1%;">
    <nav class="box" >
    <p class="menu-label">
      General
    </p>
    <ul class="menu-list">
      <li><a href="/<%= id %>/dashboard ">Dashboard</a></li>
      <li><a href="/<%= id %>/message ">Messaging</a></li>
      <li><a href="/<%= id %>/bot ">Bot</a></li>
      
    </ul>
    <p class="menu-label">
      Administration
    </p>
    <ul class="menu-list">
      <li><a href="/<%= id %>/report ">Reports</a></li>
      <li><a href="/<%= id %>/agent ">Agent</a></li>
     
    </ul>
    <p class="menu-label">
      Transactions
    </p>
    <ul class="menu-list">
      <li><a style="color: green;" href="/<%= id %>/payment ">Buy credits</a></li>
      <li><a>Transfers</a></li>
      <li><a>Balance</a></li>
    </ul>
    <br>
    <a style="width: 100%;" href="/" class="button is-danger is-outlined">Log out</a>
</nav>
  </aside>

  <style>
    @import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";
 
 </style>