<nav>
    <div>
       
        <p><h5>dashboard</h5></p>
    </div>
    <ul>
        <li><a style="color: green;" href="/<%= id %>/payment ">Buy credits</a></li>
        <li><a href="/<%= id %>/dashboard ">Profile</a></li>
        <li><a href="/<%= id %>/message ">Messages</a></li>
        <li><a href="/<%= id %>/bot">bot</a></li>
        <li><a href="/<%= id %>/report">Reports</a></li>
        <li><a href="/">Home</a></li>

        
    </ul>
</nav>
